<div class="container">
  <!-- <app-goal
    *ngFor="let goal of courseGoals" 
    [goal]="goal" 
    (click)="goal.isActiveGoal = !goal.isActiveGoal" 
    [ngClass]="{active: goal.isActiveGoal}">
  </app-goal> -->
  <h1>My Quote</h1>
  <button class="btn btn-primary mb-3" (click)="showQuote(quote)">Show Quote</button>
  <div style="display: none" #quote>
    <app-quote
      [ngClass]="{'favorite' : isFavorite}"
      (click)="isFavorite = !isFavorite"
      [ngStyle]="{'width.%': isFavorite ? 70 : 50}">
    </app-quote>
</div>
</div>